@use 'src/_mixin' as *;
@use 'src/colors' as *;

@keyframes body-overflow {
  0% {
    overflow: hidden;
  }
  100% {
    overflow: hidden;
  }
} 

@keyframes front-bg {
  0% {
    @include opacity-bg(1, $dark--22);
    z-index: 20;
  } 
  60% {
    @include opacity-bg(1, $dark--22);
    z-index: 20;
  }
  100% {
    @include opacity-bg(0, $dark--22);
    z-index: 20;
  }
}
@keyframes header-footer-bg {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes eyes-effect {
  0% {
    opacity: 1;
  }
  99% {
    @include opacityBdRadius(1);
  }
  100% {
    @include opacityBdRadius(0);
  }
}

@keyframes eyes-hut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

/*transform: translateY(-20px);*/
@keyframes external-smile-l {
  0% {
    @include external-smile-anim(0deg, translateY(0px));
  }
  30% {
    @include external-smile-anim(30deg, translateY(-10px));
  }
  100% {
    @include external-smile-anim(30deg, translateY(-10px));
  }
}

@keyframes external-smile-r {
  0% {
    @include external-smile-anim(0deg, translateY(0px));
  }
  30% {
    @include external-smile-anim(-30deg, translateY(-10px));
  }
  100% {
    @include external-smile-anim(-30deg, translateY(-10px));
  }
}

@keyframes middle-smile {
  0% {
    @include opacityTransform();
  }
  50% {
    @include opacityTransform();
  }
  100% {
    @include opacityTransform();
  }
}

@keyframes dropdown-anim {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  @include marginPad(margin, 0, padding, 0); 
  box-sizing: border-box;
  @include anim(body-overflow, 0s, 3s, 1);
  .back--color {
    max-height: 200%;
    @include bg--font();
    filter: opacity(40%);
    z-index: -1;
  }
  .container {
    @include position-abs-fix(absolute, 0px, 0px, 0px, 0px);
    @include OptionalOpacityZindex(background-color, $dark--16, 0, 0);
    @include anim(front-bg, 0s, 4s, 1);
    .box {
      @include displayJustify(space-around);
      height: 40%;
      .square {
        display: flex;
        @include width-height(80px, 80px);
        @include bgColorBorderRadius($light--green);
        opacity: 0;
        @include anim(eyes-effect, 0s, 3s, 1);
      }
      .square--1 {
        @include square-margin(margin-left);
      }
      .square--2 {
        @include square-margin(margin-right);
      }
    }
    .smile {
      @include displayAlignJust(flex, center, center);
      @include textDecoFontSize(22rem, $light--green);
      @include width-height(100%, 300px);
      margin: auto;
      margin-top: 3%;
    }
  }
  .span--img {
    @include position-abs-fix(fixed, 0px, 0px, 0px, 0px);
    filter: opacity(90%);
    @include imageParams(100%);
    z-index: -2;
  }
  header {
    @include absolute-top-or-bottom-rl(top, 70px);
    @include OptionalOpacityZindex(color, $white--smoke, 1, 15);
    @include anim(header-footer-bg, 0s, 5s, 1);
  }
  .main {
    @include displayJustify(space-between);
    border: 1px solid fushia;
    &--dropdown {
      width: 350px;
    }
    &--container {
      width: 100%;
      @include displayJustify(space-between);
      .box--one {
        position: relative;
        width: 30%;
        @include bgColorBorderRadius($dark--light--opacity);
        filter: opacity(90%);
        @include colorMarginOrPadding(margin, auto);        
        z-index: 10;
      }
    }
    &--sectionOne {
      @include width-height(300px, auto);
      @include bgColorBorderRadius($dark--light--opacity);
      @include colorMarginOrPadding(padding, 20px);
      .insidefirstdiv--box {
        margin: 10px;
      }
    }
    &--sectionTwo {
      padding: 60px 0px;
      padding-right: 40px;
      padding-bottom: 80px;
    }
  }
  footer {
    @include absolute-top-or-bottom-rl(bottom, 50px);
    @include displayAlignJust(flex, center, center);
    @include anim(header-footer-footer-bg, 0s, 5s, 1);
    @include OptionalOpacityZindex(color, $dark--font, 1, 15);
  }
}
