@use './_colors' as *;

@mixin opacity-bg($opacity, $bg-color) {
  opacity: $opacity;
  background-color: $bg-color;
}

@mixin external-smile-anim($rotate, $translate) {
  opacity: 1;
  rotate: $rotate;
  transform: $translate;
}

@keyframes front-bg {
  0% {
    @include opacity-bg(1, $dark--22);
  } 
  60% {
    @include opacity-bg(1, $dark--22);
  }
  100% {
    @include opacity-bg(0, $dark--22);
  }
}
@keyframes header-footer-bg {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes eyes-effect {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
    border-radius: 50%;
  }
  100% {
    opacity: 0;
    border-radius: 50%;
  }
}

@keyframes eyes-hut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

/*transform: translateY(-20px);*/
@keyframes external-smile-l {
  0% {
    @include external-smile-anim(0deg, translateY(0px));
  }
  30% {
    @include external-smile-anim(30deg, translateY(-10px));
  }
  100% {
    @include external-smile-anim(30deg, translateY(-10px));
  }
}

@keyframes external-smile-r {
  0% {
    @include external-smile-anim(0deg, translateY(0px));
  }
  30% {
    @include external-smile-anim(-30deg, translateY(-10px));
  }
  100% {
    @include external-smile-anim(-30deg, translateY(-10px));
  }
}

@keyframes middle-smile {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  50% {
    opacity: 1;
    rotate: 0deg;
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
    rotate: 0deg;
    transform: translateY(0px);
  }
}

@mixin anim($name, $delay, $duration, $itercount) {
  animation: $name;
  animation-delay: $delay;
  animation-duration: $duration;
  animation-iteration-count: $itercount;
}

@mixin anim-eyes($name, $margin-left-or-right, $px, $border-rad) {
  #{$margin-left-or-right}: $px;
  border-radius: $border-rad;
  opacity: 1;
  animation-name: $name;
  animation-delay: 2s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  transform: translateY(0px);  
}

@mixin width-height($width, $height) {
  width: $width;
  height: $height;
}

@mixin display($display, $align, $content) {
  display: $display;
  align-items: $align;
  justify-content: $content;
}

@mixin bg-shadow($bg-color, $shadow) {
  background-color: $bg-color;
  box-shadow: $shadow;
}

@mixin position-abs-fix($abs-fix, $top, $right, $bottom, $left) {
  position: $abs-fix;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin hut-position($top-or-bottom, $left-or-right, $px) {
  position: absolute;
  width: 40px;
  height: 40px;
  #{$top-or-bottom}: 0px;
  #{$left-or-right}: $px;
}

@mixin square-margin($margin-left-or-right) {
  margin-top: 14%;
  #{$margin-left-or-right}: 10%;
}

@mixin absolute-top-or-bottom-rl($top-or-bottom, $height) {
  position: fixed;
  #{$top-or-bottom}: 0px;
  right: 0px;
  left: 0px;
  width: 100%;
  height: $height;
  background-color: $dark-cyan; 
  box-shadow: 0px 0px 7px $grey--77;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  .container {
    @include position-abs-fix(absolute, 0px, 0px, 0px, 0px);
    background: $dark--16;
    opacity: 0;
    @include anim(front-bg, 0s, 4s, 1);
    z-index: 10;
    .box {
      display: flex;
      justify-content: space-around;
      height: 40%;
      .square {
        display: flex;
        @include width-height(80px, 80px);
        background-color: $light-green;
        border-radius: 3px;
        opacity: 0;
        @include anim(eyes-effect, 0s, 3s, 1);
      }
      .square--1 {
        @include square-margin(margin-left);
      }
      .square--2 {
        @include square-margin(margin-right);
      }
    }
    .smile {
      @include display(flex, center, center);
      font-size: 22rem;
      color: $light-green;
      @include width-height(100%, 300px);
      margin: auto;
      margin-top: 3%;
    }
  }
  .span--img {
    @include position-abs-fix(fixed, 0px, 0px, 0px, 0px);
    filter: opacity(80%);
    z-index: -1;
    img {
      @include width-height(100%, 100%);
      margin: auto;
      opacity: 0.2;
      object-fit: cover;
    }
  }
  header {
    @include absolute-top-or-bottom-rl(top, 60px);
    color: $white-smoke;
    opacity: 1;
    @include anim(header-footer-bg, 0s, 5s, 1);
    z-index: 15;
  }
  .main {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include width-height(100%, auto);
    background-color: $dark--22;
    padding: 60px 0px;
    z-index: -10;
    .dropdown--menu {
      position: relative;
      width: 300px;
      height: 400px;
      background-color: #f5f5f5;
      border-radius: 0px 0px 7px 0px;
      padding: 20px;
      z-index: 20;
      .dropdown--frame {
        @include width-height(100%, 100%);
        background-color: $menu-color;
        border-radius: 7px;

        border: 1px solid aqua;
        nav {
          border: 1px solid violet;
          ul {
            display: flex;
            flex-direction: column;
            list-style: none;

            border: 1px solid rgb(248, 252, 200);
            li {


              a {
                text-decoration: none;
                padding: 10px 20px;
                border: 1px solid lightgreen;
                &:hover {color: orange}
              }
            }
          }
        }
      }
    }
    .main--section {
      margin-right: 20px;
    }
  }
  footer {
    @include absolute-top-or-bottom-rl(bottom, 50px);
    @include display(flex, center, center);
    @include anim(header-footer-footer-bg, 0s, 5s, 1);
    color: $white-smoke;
  }
}
