$dark--16: #161616;
$dark--22: #222;
$dark--24: #242424;
$dark--42: #424242;
$grey--77: #777;
$dark-font: #202020;
$menu--color: #202020;
$white--smoke: #f5f5f5;
$grey--cc: #ccc;
$light--sandybrown: #ffdead;
$sandybrown: #ffa500;
$light--green: #44ff00;
$shadow-grayish-blue: #525d68;
$dark--cyan: #3b8a86;
$submenu--color: #656565;
$border--frame: #424242;