$dark--16: #161616;
$dark--22: #222;
$dark--24: #242424;
$grey--77: #777;
$white-smoke: #f5f5f5;
$grey--cc: #ccc;
$light-sandybrown: #ffdead;
$sandybrown: #ffa500;
$light-green: #44ff00;
$dark-grayish-blue: #5b6773;
$dark-cyan: #336699;

@mixin opacity-bg($opacity, $bg-color) {
  opacity: $opacity;
  background-color: $bg-color;
}

@keyframes front-bg {
  0% {
    @include opacity-bg(1, $dark--22);
  } 
  70% {
    @include opacity-bg(1, $dark--22);
  }
  100% {
    @include opacity-bg(0, $dark--22);
  }
}
@keyframes header-bg {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes eyes-effect {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes eyes-hut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes external-smile {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  50% {
    opacity: 1;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(-20px);
  }
}

@keyframes middle-smile {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  50% {
    opacity: 1;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(-10px);
  }
}

@mixin anim($bg, $delay, $duration, $itercount) {
  animation: $bg;
  animation-delay: $delay;
  animation-duration: $duration;
  animation-iteration-count: $itercount;
}

@mixin width-height($width, $height) {
  width: $width;
  height: $height;
}

@mixin display($display, $align, $content) {
  display: $display;
  align-items: $align;
  justify-content: $content;
}

@mixin bg-shadow($bg-color, $shadow) {
  background-color: $bg-color;
  box-shadow: $shadow;
}

@mixin position-abs-fix($abs-fix, $top, $right, $bottom, $left) {
  position: $abs-fix;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin hut-position($top-or-bottom, $left-or-right, $px) {
  position: absolute;
  width: 40px;
  height: 40px;
  #{$top-or-bottom}: 0px;
  #{$left-or-right}: $px;
}

@mixin square-margin($margin-left-or-right) {
  margin-top: 14%;
  #{$margin-left-or-right}: 10%;
}

@mixin absolute-top-or-bottom-rl($top-or-bottom, $height) {
  position: absolute;
  #{$top-or-bottom}: 0px;
  right: 0px;
  left: 0px;
  width: 100%;
  height: $height;
  background-color: $dark-cyan; 
  box-shadow: 0px 0px 7px $grey--77;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  .container {
    @include position-abs-fix(absolute, 0px, 0px, 0px, 0px);
    background: $dark--16;
    opacity: 0;
    @include anim(front-bg, 0s, 4s, 1);
    z-index: 10;
    .box {
      display: flex;
      justify-content: space-around;
      height: 40%;
      .square {
        display: flex;
        @include width-height(80px, 80px);
        background-color: $light-green;
        border-radius: 3px;
        opacity: 0;
        @include anim(eyes-effect, 0s, 3s, 1);
      }
      .square--1 {
        @include square-margin(margin-left);
      }
      .square--2 {
        @include square-margin(margin-right);
      }
    }
    .smile {
      @include display(flex, center, center);
      font-size: 22rem;
      color: $light-green;
      @include width-height(100%, 300px);
      margin: auto;
      margin-top: 3%;
    }
  }
  .span--img {
    @include position-abs-fix(fixed, 0px, 0px, 0px, 0px);
    filter: opacity(80%);
    z-index: -1;
    img {
      @include width-height(100%, 100%);
      margin: auto;
      opacity: 0.2;
      object-fit: cover;
    }
  }
  header {
    @include absolute-top-or-bottom-rl(top, 60px);
    color: $white-smoke;
    opacity: 1;
    @include anim(header-bg, 0s, 5s, 1);
    z-index: 15;
    nav {
      width: 100%;
      display: flex;
      line-height: 50%;
      margin: auto;
      ul {
        width: 100%;
        @include display(flex, center, right);
        list-style: none;
        li {
          display: flex;
          margin: auto 20px;
          a {
            position: relative;
            text-decoration: none;
            font-size: 1.4rem;
            margin: 10px 20px;
            color: $white-smoke;
            &:hover {
              color: $light-sandybrown;
            }
            &:active {
              color: $sandybrown;
            }
          }
        }
      }
    }
  }
  main {
    position: relative;
    display: flex;
    flex-direction: column;
    @include width-height(100%, calc(100vh - 50px));
    background-color: $dark--22;
    z-index: -10;
    .section--1 {
      margin-top: 7%;
    }
    .section--2 {
      margin-top: 2%;
    }
    .section--3 {
      margin-top: 2%;
    }
    .section {
      display: flex;
      width: 600px;
      margin-left: 46%;
      @include bg-shadow($grey--cc, 0px 0px 10px $grey--77);
      border-radius: 7px;
      padding: 20px;
      article {
        width: 100%;
        background: $dark-grayish-blue;
        border-radius: 7px;
        color: $light-sandybrown;
        padding: 0px 20px;
        opacity: 1;
        h2 {
          font-size: 1.4rem;
        }
        p {
          font-size: 1.0rem;
          border: 1px solid $dark-grayish-blue;
          border-radius: 7px;
          padding: 10px;
        }
      }
    }
  }
  footer {
    @include absolute-top-or-bottom-rl(bottom, 50px);
    @include display(flex, center, center);
    color: $white-smoke;
  }
}
