@keyframes front-bg {
  0% {
    @include opacity-bg(1, #222);
  } 
  70% {
    @include opacity-bg(1, #222);
  }
  100% {
    @include opacity-bg(0, #222);
  }
}
@keyframes header-bg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rounded-eyes {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes eyes-hut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@mixin opacity-bg($opacity, $background) {
  opacity: $opacity;
  background: $background;
}

@mixin anim($bg, $delay, $duration, $itercount) {
  animation: $bg;
  animation-delay: $delay;
  animation-duration: $duration;
  animation-iteration-count: $itercount;
}

@mixin width-height($width, $height) {
  width: $width;
  height: $height;
}

@mixin display($display, $position, $content) {
  display: $display;
  align-items: $position;
  justify-content: $content;
}

@mixin bg-shadow($bg-color, $shadow) {
  background-color: $bg-color;
  box-shadow: $shadow;
}

@mixin position-abs-fix($abs-fix, $top, $right, $bottom, $left) {
  position: $abs-fix;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  .container {
    @include position-abs-fix(absolute, 0px, 0px, 0px, 0px);
    background: #222;
    opacity: 1;
    @include anim(front-bg, 0s, 5s, 1);
    z-index: 10;
    .box {
      display: flex;
      justify-content: space-around;
      height: 40%;
      .square {
        display: flex;
        @include width-height(80px, 80px);
        background-color: #44ff00;
        border-radius: 3px;
        .span--eyescircle {
          @include display(flex, center, center);
          @include width-height(80px, 80px);
          margin: auto;
          font-size: 3rem;
          font-weight: 400;
          opacity: 0;
          @include anim(rounded-eyes, 1s, 2s, 1);
        }
        .span--hut {
          position: absolute;
          display: flex;
          @include width-height(80px, 80px);
          border: 1px solid violet;
          z-index: 20;
          .span--eyeshut {
            background-color: #44ff00;
            opacity: 0;
            @include anim(eyes-hut, 2s, 3s, 1);
          }
          .hut--one {
            position: absolute;
            bottom: 0px;
            left: 0px;
            @include width-height(30px, 30px);
            border: 1px solid red;
          }
          .hut--two {
            position: absolute;
            top: 0px;
            left: 20px;
            @include width-height(30px, 30px);
            border: 1px solid red;
          }
          .hut--three {
            position: absolute;
            bottom: 0px;
            right: 0px;
            @include width-height(30px, 30px);
            border: 1px solid red;
          }
        }
      }
      .square--1 {
        margin-top: 14%;
        margin-left: 10%;
      }
      .square--2 {
        margin-top: 14%;
        margin-right: 10%;
      }
    }
    .smile {
      @include display(flex, center, center);
      font-size: 22rem;
      color: #44ff00;
      @include width-height(80px, 300px);
      margin: auto;
      margin-top: 3%;
      .span--smile {
        @include width-height(80px, 80px);       
        background-color: #44ff00;
      }
    }
  }
  .span--img {
    @include position-abs-fix(fixed, 0px, 0px, 0px, 0px);
    filter: opacity(80%);
    z-index: -1;
    img {
      @include width-height(100%, 100%);
      margin: auto;
      opacity: 0.2;
      object-fit: cover;
    }
  }
  header {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    @include width-height(100%, 60px);
    @include bg-shadow(#216e83, 0px 0px 7px #999);
    color: #f5f5f5;
    opacity: 1;
    @include anim(header-bg, 0s, 8s, 1);
    z-index: 15;
    nav {
      width: 100%;
      display: flex;
      line-height: 50%;
      margin: auto;
      ul {
        width: 100%;
        @include display(flex, center, right);
        list-style: none;
        li {
          display: flex;
          margin: auto 20px;
          a {
            position: relative;
            text-decoration: none;
            font-size: 1.4rem;
            margin: 10px 20px;
            color: #f5f5f5;
            &:hover {
              color: #ffdead;
            }
            &:active {
              color: #ffa500;
            }
          }
        }
      }
    }
  }
  main {
    position: relative;
    display: flex;
    flex-direction: column;
    @include width-height(100%, calc(100vh - 50px));
    background-color: #222;
    z-index: -10;
    .section--1 {
      margin-top: 7%;
    }
    .section--2 {
      margin-top: 2%;
    }
    .section--3 {
      margin-top: 2%;
    }
    .section {
      width: 600px;
      margin-left: 46%;
      display: flex;
      @include bg-shadow(#ccc, 0px 0px 10px #777);
      border-radius: 7px;
      padding: 20px;
      article {
        width: 100%;
        background: #708090;
        border-radius: 7px;
        color: #ffdead;
        padding: 0px 20px;
        opacity: 1;
        h2 {
          font-size: 1.4rem;
        }
        p {
          font-size: 1.0rem;
          border: 1px solid #5b6773;
          border-radius: 7px;
          padding: 10px;
        }
      }
    }
  }
  footer {
    position: absolute;
    right: 0px;
    bottom: 0px;
    left: 0px;
    @include width-height(100%, 50px);
    @include display(flex, center, center);
    @include bg-shadow(#216e83, 0px 0px 7px #777);
    color: #f5f5f5;
  }
}