@import './_App.scss';
@import './components/styles/_AnimatedEyes.scss';
@import './components/styles/_AnimatedSmile.scss';
@import './components/styles/_NavBar.scss';
@import './components/styles/SectionComp.scss';
@import './colors.scss';
// Supports weights 400-700
// @import '@fontsource-variable/domine';

:root {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
