@use 'src/_mixin' as *;
@use 'src/colors' as *;

.span--eyescircle {
    @include displayAlignJust(flex, center, center);
    @include width-height(80px, 80px);
    margin: auto;
    @include fontWeightColor($dark--16);
    font-size: 3rem;
    opacity: 0;
    @include anim(eyes-effect, 1s, 3s, 1);
  }
  .span--hut {
    position: absolute;
    display: flex;
    @include width-height(80px, 80px);
    @include opacity-bg(0, $dark--24);
    z-index: 20;
    @include anim(eyes-hut, 2s, 3s, 1);
    .span--eyeshut {
      background-color: $light--green;
    }
    .hut--one {
      @include hut-position(bottom, left, -20px);
    }
    .hut--two {
      @include hut-position(top, left, 20px);
    }
    .hut--three {
      @include hut-position(bottom, right, -20px);
    }
  }