@use 'src/_mixin' as *;
@use 'src/colors' as *;

.boxone--inside {
    @include bgColorBorderRadius($dark--font);
    box-shadow: 0px 0px 10px $grey--cc;
    @include marginPad(margin, 20px, padding, 20px 0px);     
    .boxone--title {
        .title--h4 {
            text-align: center;
            margin: auto;
            margin: 20px 0px;
        }
    } 
}
.box--name--data {
    padding: 0px 20px;
    p {
        @include textAlignColor($white--smoke);
    }
}
.box--name--tochange {
    @include displayMarginOrFlexDir(flex-direction, column);
    @include colorMarginOrPadding(padding, 0px 20px);
    .label--name {
        @include marginPad(margin, 0px 40px, padding-bottom, 10px); 
    }
    .input--name {
        @include bgColorBorderRadius($dark--42);
        @include borderOutline();
        @include textDecoFontSize(1.1rem, $white--smoke);
        filter: opacity(90%);
        @include marginPad(margin, 0px 40px, padding, 5px 7px); 
    }        
} 
.box--name--btn {
    @include displayJustify(center);
    button {
        @include fontWeightColor(#333);
        @include marginPad(margin, 20px 0px, padding, 5px 20px); 
    }
}
.box--name--showhide {
    @include displayJustify(center);
    button {
        @include fontWeightColor(#333);
        @include marginPad(margin-bottom, 20px, padding, 5px 20px); 
    }
}
.register--p {
    margin: auto;
    @include textAlignColor($orangered);
}
