@use 'src/_mixin' as *;
@use 'src/colors' as *;

.container--header {
  height: 70px;
  @include displayAlignJust(flex, center, space-around);
  .img--span {
    @include displayMarginOrFlexDir(margin-left, 10px);
    @include width-height(63px, auto);  
    filter: opacity(80%);
    img {
      @include imageParams(auto);
    }
  }
  nav {
    width: 100%;
    @include displayLineHeight(flex, 50%);    
    margin: auto;
    ul {
      width: 100%;
      @include displayAlignJust(flex, center, right);
      list-style: none;
      li {
        @include displayMarginOrFlexDir(margin, auto 20px);
        a {
          position: relative;
          @include textDecoFontSize(1.4rem, $white--smoke);
          margin: 10px 20px;
          &:hover {
            color: $light--sandybrown;
          }
          &:active {
            color: $sandybrown;
          }
        }
      }
    }
  }
}