@use 'src/_mixin' as *;
@use 'src/colors' as *;

.section {
  display: flex;
  width: 500px;
  @include bgColorBorderRadius($dark--light--opacity);
  filter: opacity(90%);
  @include marginPad(margin-top, 30px, padding, 20px); 
  article {
    width: 100%;
    @include bgColorBorderRadius($dark--font);
    box-shadow: 0px 0px 7px lightgrey;
    @include colorMarginOrPadding(padding, 0px 20px);
    h2 {
      font-size: 1.4rem;
    }
    .paragraph-menu {
      @include displayAlignJust(flex, center, space-between);
      height: 30px;
      @include bgColorBorderRadius($shadow-grayish-blue);
      @include marginPad(margin-bottom, 20px, padding, 10px);       
      p {
        font-size: 1.0rem;
      }
      button {
        @include bgColorBorderRadius($dark--24);
        border-color: $dark--42;
        @include fontWeightColor($white--smoke);
        padding: 7px 30px;
      }
    }
  }
}