@use 'src/_mixin' as *;
@use 'src/colors' as *;

.section {
  display: flex;
  width: 600px;
  background-color: $border--frame;
  border-radius: 7px;
  margin-top: 20px;
  filter: opacity(80%);
  padding: 10px;
  article {
    width: 100%;
    background-color: $dark-font;
    border-radius: 7px;
    color: $white--smoke;
    padding: 0px 20px;
    h2 {
      font-size: 1.4rem;
    }
    .paragraph-menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 30px;
      background-color: $submenu--color;
      border-radius: 7px;
      margin-bottom: 20px;
      padding: 10px;
      p {
        font-size: 1.0rem;
      }
      button {
        background-color: $dark--24;
        border-color: $border--frame;
        border-radius: 7px;
        font-weight: 600;
        color: $white--smoke;
        padding: 7px 30px;
      }
    }
  }
}